<h1>Rédiger une annonce</h1>

<form>
  <div>
    <label for="content">Ecrivez votre annonce ici : </label>
    <p><textarea id="content" name="content"></textarea></p>
  </div>

  <div>
    <label for="zone">Sélectionnez les zones souhaitées</label>
    <div class="zone-choice-container">
      <button *ngFor="let zone of zonesList" value="{{zone.id}}">{{zone.nom}}</button>
    </div>
  </div>

  <div>
    <label for="zone">Sélectionnez les arrets souhaités</label>
    <div>
    <select id="stop-choice">
      <option *ngFor="let arret of arretsList" value="{{arret.nom}}">{{arret.nom}}</option>
    </select>
  </div>
  </div>
  <button id="add-stop">Ajouter</button>

  <div>
    <label for="zone">Sélectionnez les tranches horaires souhaitées</label>
    <div>
    <select id="hours-choice">
      <option *ngFor="let trancheHoraire of tranchesHorairesList" value="{{trancheHoraire.debut}">{{trancheHoraire.debut}}</option>
    </select>
  </div>
  </div>
  <button id="add-hours" onclick="addHours($event)">Ajouter</button>

  <button type="submit" routerLinkActive="active" routerLink="/paiement">Valider et aller au paiement</button>

</form>

