<h1>Rédiger votre annonce</h1>
<div class="container">
  <form class="addAnnonce-flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- #formAddAnnonce="ngForm"> -->
    <div class="editor-center">
      <editor [init]="{
        base_url: '/tinymce',
        suffix: '.min',
        height: 300,
        width: 900,
        resize: 'both'
        }">
      </editor>
    </div>
    <div class="addAnnonce-flex-col">
      <div class="addAnnonce-flex-row">
        <fieldset>
          <legend>Sélectionnez les zones souhaitées</legend>
          <div class="addAnnonce-checkbox">
            <div *ngFor="let zone of ListZones">
              <input type="checkbox" id="{{zone.id}}"name="{{zone.nom}}">
              <label for="{{zone.nom}}">{{zone.nom}}</label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>test checked</legend>
          <div class="addAnnonce-checkbox">
            <div *ngFor="let cartoon of cartoonsData">
              <input type="checkbox" (change)="onChange(cartoon.name, $event.target.checked)" />
              <label for="{{cartoon.name}}">{{cartoon.name}}</label>
            </div>
          </div>
        </fieldset>
        <fieldset >
          <legend>Sélectionnez les Tranches horaire souhaitées</legend>
          <div class="addAnnonce-checkbox">
            <div *ngFor="let trancheHoraire of ListTrancheHoraires">
              <input type="checkbox" id="{{trancheHoraire.id}}"name="{{trancheHoraire.debut}}">
              <label for="{{trancheHoraire.debut}}">{{trancheHoraire.debut}}h-{{trancheHoraire.debut+1}}h</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="addAnnonce-flex-row">
        <div class="addAnnonce-flex-col">
          <label for="prixEnEuros">date de debut de diffusion :</label>
          <input type="date" placeholder="Debut de diffusion" required>
        </div>
        <div class="addAnnonce-flex-col">
          <label for="prixEnEuros">date de fin de diffusion :</label>
          <input type="date" placeholder="Fin de diffusion" required >
        </div>
      </div>
    </div>
    <h3>Paiements en carte</h3>
    <div class="addAnnonce-flex-row">
      <div class="addAnnonce-flex-col">
        <label for="prixEnEuros">Numéro de la carte :</label>
        <input type="text" placeholder="Numéro de la carte" required>
      </div>
      <div class="addAnnonce-flex-col">
        <label for="prixEnEuros">Année d'expiration :</label>
        <input type="number"placeholder="Année d'expiration" required>
      </div>
      <div class="addAnnonce-flex-col">
        <label for="prixEnEuros">Mois d'expiration :</label>
        <input type="number" placeholder="Mois d'expiration" required>
      </div>
      <div class="addAnnonce-flex-col">
        <label for="prixEnEuros">Cryptogramme :</label>
        <input type="text" placeholder="CVV" required>
      </div>
    </div>
    <div class="addAnnonce-flex-row div-paiemnt">
      <div class="addAnnonce-flex-col">
        <input type="text"class="form-control" placeholder="Prix total :" disabled="disabled">
      </div>
      <div>
        <input type="number" value="1" hidden>
      </div>
      <button type="submit" routerLinkActive="active" routerLink="/paiement">Valider le paiement</button>
    </div>
  </form>
</div>

