
<div class="container">
  <table>
    <thead>
        <tr>
            <th colspan="5">The table header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ajouter par</td>
            <td>Zone</td>
            <td>Tranche Horaire</td>
            <td>Prix en euros</td>
            <td>Supprimer</td>
        </tr>
        <tr *ngFor="let tarif of ListTarifs">
          <td>{{tarif['administrateur'].prenom}} {{tarif['administrateur'].nom}}</td>
          <td>{{tarif['zone'].nom}}</td>
          <td>{{tarif['trancheHoraire'].debut}}h-{{tarif['trancheHoraire'].debut+1}}h</td>
          <td>{{tarif.prixEnEuros}}€</td>
          <td> <button id="{{tarif.id}}" (click)="deleteTarif(tarif.id)">Oui</button></td>
        </tr>
    </tbody>
  </table>
  <br>
  <div >
    <form class="tarif-flex-col" (ngSubmit)="onSubmit(formTarif)" #formTarif="ngForm" novalidate>
      <div class="tarif-flex-row">
        <div class="tarif-flex-col">
          <label for="zones">zones :</label>
          <select name="zones"[(ngModel)]="tarif.zone.id" >
            <option value="0">Sélectionner la zone</option>
            <option *ngFor="let zone of ListZones" [ngValue]="zone.id">{{zone.nom}}</option>
          </select>
        </div>
        <div class="tarif-flex-col">
          <label for="trancheHoraires">Tranche-Horaires :</label>
          <select name="trancheHoraires" [(ngModel)]="tarif.tranchesHoraire.id">
            <option value="0">Sélectionner la tranche-Horaire</option>
            <option *ngFor="let trancheHoraire of ListTrancheHoraires"[ngValue]="trancheHoraire.id">{{trancheHoraire.debut}}h-{{trancheHoraire.debut+1}}h</option>
          </select>
        </div>
        <div class="tarif-flex-col">
          <label for="prixEnEuros">Tarif :</label>
          <input type="number" [(ngModel)]="tarif.prixEnEuros" class="form-control" id="prixEnEuros" name="prixEnEuros" placeholder="Prix en euros" required #prixEnEuros="ngModel">
        </div>
      </div>
      <button class="addPrice" type="submit">Ajouter un prix</button>
    </form>
  </div>
</div>
