<h1>Picom</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email"  class="form-control" />
      <div [class.error]="!email.valid && email.touched"></div>
    </div>
    <div>
      <label for="motDePasse">Mot de passe</label>
      <input type="text" id="motDePasse" formControlName="motDePasse"  class="form-control"/>
      <div [class.error]="!motDePasse.valid && motDePasse.touched"></div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary" routerLink="admin/administration">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Connexion
    </button>
  </div>
  <a routerLink="/client/inscription" class="btn btn-link">Pas de compte? Je m'inscris ici</a>
</form>


