<header>
  <div>
    <a href="#">Picom</a>
  </div>
  <nav class="menu">
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/connexion">Accueil</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/ajouter-annonce">Rédiger une annonce</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/annonces-liste">Liste des annonces</a>
      </li>
    </ul>
  </nav>
</header>


<router-outlet></router-outlet>

<footer>
  <a href="">Plan du site</a>
  <a href="">Mentions légales</a>
  <a href="">Nous contacter</a>
</footer>
